<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Dilutez-Platform</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/addProduct.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <input type="checkbox" id="check" checked>
    </label>
    <div class="sidebar">
        <header>
            <a href="#" class="tooltip"><span class="tooltiptext">Profile</span><img
                    src="https://png.pngitem.com/pimgs/s/226-2267516_male-shadow-circle-default-profile-image-round-hd.png"
                    alt="Avatar" class="avatar" /> </a>
        </header>
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/cosmetics"><i class="fas fa-eye-dropper"></i>Cosmetics</a></li>
            <li><a href="/clothes"><i class="fas fa-tshirt"></i>Clothing</a></li>
            <li><a href="/electronics"><i class="fas fa-laptop"></i>Electronics</a></li>
            <li><a href="/grocery"><i class="fas fa-bread-slice"></i>Grocery</a></li>
            <li><a href="/settings"><i class="fas fa-user-cog" style="color:white"></i>Settings</a></li>
            <li><a href="/about"><i class="far fa-question-circle"></i>About</a></li>
            <li><a href="/feedback"><i class="fab fa-leanpub"></i>Feedback</a></li>
        </ul>
    </div>
    <section>
        <div class="nav">
            <li> D I L U T E Z </li>
            <li class="log-out"><a href="/logout"><i class='fas fa-sign-out-alt' style='color:white'></i></a></li>
        </div>

        <div class="container">
            <div class="inner-container">
                <form action="/addProduct" method="POST">
                    <div class="px-1">
                        <div class="col-5 float-left px-1">
                            <input type="text" id='pro_name' name="pro_name" placeholder="Product Name" required />
                        </div>
                        <div class="col-5 float-left px-1">
                            <input type="text" id="brand_name" name="brand_name" placeholder="Brand Name" required />
                        </div>
                        <div class="col-5 float-left px-1">
                            <input type="text" id='metric_count' name="metric_count" placeholder="Metrics" required />
                        </div>
                        <div class="col-5 float-left px-1">
                            <input type="number" id="pro_price" name="pro_price" placeholder="Product Price" required />
                        </div>
                    </div>
                    <div class="px-1">
                        <div class="col-8 float-left">
                            <div class="col-5 float-left px-2">
                                <input type="number" id='offer_percent' name="offer_percent" placeholder="Offers"
                                    required />
                            </div>
                            <div class="col-5 float-left px-2">
                                <input type="date" id='expires' name="expires" placeholder="Expiry Date" required />
                            </div>
                            <div class="px-2">
                                <textarea id='description' name="description" placeholder="Description" rows="5"
                                    cols="50" required></textarea>
                            </div>
                            <div class="px-2">
                                <textarea id='about_product' name="about_product" placeholder="About the Product"
                                    rows="5" cols="50" required></textarea>
                            </div>
                        </div>
                        <div class="col-4 float-left">
                            <div class="px-2">
                                <div class="img-space">
                                    <div class='txt_alt'>
                                        <h2>No Image Uploaded</h2>
                                    </div>
                                </div>
                                <div style="margin:10px auto;">
                                    
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="px-2">
                        <input type="text" id='img-url' name="pro_image" placeholder="Url of Image" required><label><i onclick=image_upload() class="fa fa-upload icon" aria-hidden="true"></i></label></input>
                    </div>
                    <div class="addBtn px-2">
                        <input type="submit" name="add_products" value="Upload">
                    </div>

                </form>
            </div>
        </div>
    </section>

<script>
    function image_upload() {
        let url = document.getElementById('img-url').value;
        let title = document.getElementById('pro_name').value;
        if (url) {
            $('.img-space').append($('<img>', {
                src: url,
                alt: "Image not compatible",
                title: title,
                class: "img-preview"
            }));
        }
    }
</script>

</body>

</html>