<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dilutez-Platform</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/grocery.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-database.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check" checked>
    <div class="sidebar">
        <header>
        <a href="#" class="tooltip"><span class="tooltiptext">Profile</span><img src="https://png.pngitem.com/pimgs/s/226-2267516_male-shadow-circle-default-profile-image-round-hd.png" alt="Avatar" class="avatar"/> </a>
        </header>
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/cosmetics"><i class="fas fa-eye-dropper"></i>Cosmetics</a></li>
            <li><a href="/clothes"><i class="fas fa-tshirt"></i>Clothing</a></li>
            <li><a href="/electronics"><i class="fas fa-laptop"></i>Electronics</a></li>
            <li><a href="/grocery"><i class="fas fa-bread-slice"></i>Grocery</a></li>      
            <li><a href="/settings"><i class="fas fa-user-cog" style="color:white"></i>Settings</a></li>     
            <li><a href="/about"><i class="far fa-question-circle"></i>About</a></li>
            <li><a href="/feedback"><i class="fab fa-leanpub"></i>Feedback</a></li>
        
        </ul>
    </div>
    <section>
        <div class="nav">
            <li class="add-item"><a href="/addProduct"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
            <li> D I L U T E Z </li>
            <li class="log-out"><a href="/logout"><i class='fas fa-sign-out-alt' style='color:white'></i></a></li>
        </div>
        <div class="top-align">
            <div class="wrapper">
                <% for(var i in products) { %>
                    <div class="tooltip">
                        <span class="tooltiptext1">
                            Name: <%= products[i]["name"] %> <br>
                            Brand: <%= products[i]["brand"] %><br>
                            Price: $<%= products[i]["price"] %><br>
                        </span>
                        <img class="img-list" src='<%= products[i]["image"] %>' >
                        <div class="edit-icon-left">
                            <i class="fas fa-pencil-alt del-icon" aria-hidden="true"></i>
                        </div>
                        <div class="edit-icon-right">
                            <a href="deleteProduct/?data1=<%=products[i]['id']%>&data2=<%='Electronics'%> "><i class="fa fa-trash del-icon" aria-hidden="true"></i></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    </section>
    </body>
</html>
