<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dilutez-Platform</title>
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <!-- <input type="checkbox" id="check" checked>
  
  <div class="sidebar">
    <header>
      <a href="#" class="tooltip"><span class="tooltiptext">Profile</span><img
          src="https://png.pngitem.com/pimgs/s/226-2267516_male-shadow-circle-default-profile-image-round-hd.png"
          alt="Avatar" class="avatar" /> </a>
    </header>
    <ul>
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#"><i class="fas fa-eye-dropper"></i>Cosmetics</a></li>
        <li><a href="#"><i class="fas fa-tshirt"></i>Clothing</a></li>
        <li><a href="#"><i class="fas fa-laptop"></i>Electronics</a></li>
        <li><a href="#"><i class="fas fa-bread-slice"></i>Grocery</a></li>      
         <li><a href="/settings"><i class="fas fa-user-cog" style="color:white"></i>Settings</a></li>     
        <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
        <li><a href="#"><i class="fab fa-leanpub"></i>Feedback</a></li>
    </ul>
  </div> -->
    <section>

    <!-- <div class="nav">
      <li> D I L U T E Z </li>
      <li><a href="/logout"><i class='fas fa-sign-out-alt' style='font-size:40px;color:white'></i></a></li>
      
    </div> -->

    <div class="main">
        <div class="topmargin-seven">
        <div class="first-column card">
            <div class="line-chart-block block ">
                <div class="line-chart">
                    <div class='grafico'>
                        <ul class='eje-y'>
                            <li data-ejeY='30'></li>
                            <li data-ejeY='20'></li>
                            <li data-ejeY='10'></li>
                            <li data-ejeY='0'></li>
                        </ul>
                        <ul class='eje-x'>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                        </ul>
                        <span data-valor='25'>
                            <span data-valor='8'>
                                <span data-valor='13'>
                                    <span data-valor='5'>
                                        <span data-valor='23'>
                                            <span data-valor='12'>
                                                <span data-valor='15'>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-column card">
            <div class="line-chart-block block ">
                <div class="line-chart">
                    <div class='grafico'>
                        <ul class='eje-y'>
                            <li data-ejeY='30'></li>
                            <li data-ejeY='20'></li>
                            <li data-ejeY='10'></li>
                            <li data-ejeY='0'></li>
                        </ul>
                        <ul class='eje-x'>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                        </ul>
                        <span data-valor='25'>
                            <span data-valor='8'>
                                <span data-valor='13'>
                                    <span data-valor='5'>
                                        <span data-valor='23'>
                                            <span data-valor='12'>
                                                <span data-valor='15'>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="third-column card">
            <div class="line-chart-block block ">
                <div class="line-chart">
                    <div class='grafico'>
                        <ul class='eje-y'>
                            <li data-ejeY='30'></li>
                            <li data-ejeY='20'></li>
                            <li data-ejeY='10'></li>
                            <li data-ejeY='0'></li>
                        </ul>
                        <ul class='eje-x'>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                        </ul>
                        <span data-valor='25'>
                            <span data-valor='8'>
                                <span data-valor='13'>
                                    <span data-valor='5'>
                                        <span data-valor='23'>
                                            <span data-valor='12'>
                                                <span data-valor='15'>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="fourth-column card">
            <div class="line-chart-block block ">
                <div class="line-chart">
                    <div class='grafico'>
                        <ul class='eje-y'>
                            <li data-ejeY='30'></li>
                            <li data-ejeY='20'></li>
                            <li data-ejeY='10'></li>
                            <li data-ejeY='0'></li>
                        </ul>
                        <ul class='eje-x'>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                        </ul>
                        <span data-valor='25'>
                            <span data-valor='8'>
                                <span data-valor='13'>
                                    <span data-valor='5'>
                                        <span data-valor='23'>
                                            <span data-valor='12'>
                                                <span data-valor='15'>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="fifth-column card1">
            <ul class="chart">
                <li>
                    <span style="height:5%" title="Grocery"></span>
                </li>
                <li>
                    <span style="height:70%" title="Electronics"></span>
                </li>
                <li>
                    <span style="height:50%" title="Clothing"></span>
                </li>
                <li>
                    <span style="height:15%" title="Cosmetics"></span>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </section>
</body>
</html>