<!-- <h1>Hello</h1>
<form action="/logout" method="POST">
    <button type="submit">LogOut</button>
</form> -->



<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dilutez-Platform</title>
    <link rel="stylesheet" href="/css/index.css">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check" checked>
    <!-- <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label> -->
    <div class="sidebar">
    <header>
      <a href="#" class="tooltip"><span class="tooltiptext">Profile</span><img src="https://png.pngitem.com/pimgs/s/226-2267516_male-shadow-circle-default-profile-image-round-hd.png" alt="Avatar" class="avatar"/> </a>
    </header>
  <ul>
    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/cosmetics"><i class="fas fa-eye-dropper"></i>Cosmetics</a></li>
            <li><a href="/clothes"><i class="fas fa-tshirt"></i>Clothing</a></li>
            <li><a href="/electronics"><i class="fas fa-laptop"></i>Electronics</a></li>
            <li><a href="/grocery"><i class="fas fa-bread-slice"></i>Grocery</a></li>      
            <li><a href="/settings"><i class="fas fa-user-cog" style="color:white"></i>Settings</a></li>     
            <li><a href="/about"><i class="far fa-question-circle"></i>About</a></li>
            <li><a href="/feedback"><i class="fab fa-leanpub"></i>Feedback</a></li>
</ul>
</div>
<section>
  <div class="nav">
      <li> D I L U T E Z </li>
      <li class="log-out"><a href="/logout"><i class='fas fa-sign-out-alt' style='color:white'></i></a></li>
    <!-- <a style="margin-left:120px;" href="#"><i class='fas fa-sign-out-alt' style='font-size:48px;color:white'></i></a> -->
  </div>
  <%- include('home.ejs') %>
</section>
  </body>
</html>
