<!-- <% if (messages.error) { %>
    <%= messages.error %>
    <% } %> -->

<!-- <%= error %> -->

<!-- <form action="/login" method="POST">
    <div>
        <label>email</label>
        <input type="email" id="email" name="email" required/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a> -->

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Dilutez-Platform</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="login-form">
      <div class="text">
        LOGIN
      </div>
      <form action="/login" method="POST">
        <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="email" placeholder="Email" name="email" required />
        </div>
        <div class="field">
          <div class="fas fa-lock"></div>
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <button type="submit">LOGIN</button>
        <div>
          <h4 style="color: red;"><%= error %></h4>
        </div>
        <div class="link">
          Not a member?
          <a href="/register">Signup now</a>
        </div>
      </form>
    </div>
  </body>
</html>
