<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dilutez-Platform</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- <script type="text/javascript" src="javascript/settings.js"></script> -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/settings.css">
    </head>
    <body>
    <input type="checkbox" id="check" checked />
        <div class="sidebar">
            <header>
                <a href="#" class="tooltip"><span class="tooltiptext">Profile</span><img src="https://png.pngitem.com/pimgs/s/226-2267516_male-shadow-circle-default-profile-image-round-hd.png" alt="Avatar" class="avatar"/> </a>
            </header>
            <ul>
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="/cosmetics"><i class="fas fa-eye-dropper"></i>Cosmetics</a></li>
                <li><a href="/clothes"><i class="fas fa-tshirt"></i>Clothing</a></li>
                <li><a href="/electronics"><i class="fas fa-laptop"></i>Electronics</a></li>
                <li><a href="/grocery"><i class="fas fa-bread-slice"></i>Grocery</a></li>      
                <li><a href="/settings"><i class="fas fa-user-cog" style="color:white"></i>Settings</a></li>     
                <li><a href="/about"><i class="far fa-question-circle"></i>About</a></li>
                <li><a href="/feedback"><i class="fab fa-leanpub"></i>Feedback</a></li>
            </ul>
        </div>
        <section>
            <div class="nav">
                <li> D I L U T E Z </li>
                <li class="log-out"><a href="/logout"><i class='fas fa-sign-out-alt' style='color:white'></i></a></li>
            </div>
            <form action="/settings" method="POST" id="form" name="form">
                <div class="container">
                    <div>
                        <div class="alert warning"> 
                            <strong>
                                <i class="fas fa-exclamation-triangle" style="font-size:20px;color:white;"></i> &ensp;
                            </strong> Mention proper username to modify the privileges
                        </div>
                        <input type="text" id="u_name" name="u_name" required>
                    </div>

                    <table class="table table-sm">
                        <col width="50">
                        <col width="50">
                        <tbody>
                            <tr class="b-line">
                                <td><img class="blend" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTojrARQwX_nsJq4uNsBEl3ysOUfNyJaXZBJFT8F_3mZKrW8VG6&usqp=CAU"></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" id="cos" name="cosmetics">
                                        <span class="slider round"></span>
                                    </label>
                                    <h4 class="textStyle">Cosmetics</h4>
                                </td>     
                            </tr>    
                            <tr class="b-line">
                                <td>
                                    <img class="blend" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGtcAnMY8A2aUthLf40JbfRrhZrUSIY4F_BjSgE9e9xYo769G2&usqp=CAU">
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" name="clothing">
                                        <span class="slider round"></span>
                                    </label>
                                    <h4 class="textStyle">Clothing</h4>
                                </td>
                    
                            </tr>
                            <tr class="b-line">
                                <td><img class="blend" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgVZAy6yRlP500qV8Wzougn4UKL9fJDt8a3wLZjGRnYblXjW_o&usqp=CAU"></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" name="grocery">
                                        <span class="slider round"></span>
                                    </label>
                                    <h4 class="textStyle">Grocery</h4>
                                </td>       
                            </tr>
                            <tr class="b-line">
                                <td><img class="blend" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShVoMB0yaHltYnM59w5vReaO1NuR3GiYnBP30pgftKoJKqOAHX&usqp=CAU"></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" name="electronics">
                                        <span class="slider round"></span>
                                    </label>
                                    <h4 class="textStyle">Electronics</h4>
                                </td>
                            </tr>
                            <tr class="b-line">
                                <td><img class="blend" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7bVCkyGgFQKjhK-pzMnEm3SfZOrnWJXkrOrjeaOhaAaGe11FM&usqp=CAU"></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" name="carpool">
                                        <span class="slider round"></span>
                                    </label>
                                    <h4 class="textStyle">Carpool</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="button" name="saveBtn">Save Changes</button>
                                </td>
                            </tr>          
                        </tbody>
                    </table>   
                </div>
            </form>
        </section>   
    </body>
</html>