input[type=text], select, textarea, input[type=number], [type=date] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 100%;
    font-family: 'Roboto', sans-serif !important;
}

input[type=date], ::placeholder{
    color:#ccc;
    resize: none;
}

input[type="file"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 100%;
}

input[type=textarea] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 100%;
    min-height:20%;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.icon {
    position: absolute;
    margin-left: -38px;
    margin-top: 17px;
    font-size: 27px;
    border: 1px solid darkgrey;
    color: darkgrey;
    cursor: pointer;
    background-color: white;
}

.img-space {
    background-color: white;
    width: 100%;
    height: 30%;
    position: relative;
    border-radius: 5px;
}

.img-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    border-radius: 5px;
    left: 0%;
    object-fit: cover;
}

.addBtn {
    float: right;
}

.container {
    width : 60%;
    border-radius: 5px;
    padding: 40px;
    background-color: silver;
    margin: 11%;
    /* margin-top: 10%;
    margin-bottom: -40%; */
    position: absolute;
}
/* .inner-container{
    shape-outside: margin-box;
    margin-left: 2%;
    margin-right: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
} */


.txt_alt {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    margin-bottom: 33%;
    color: darkgray;
    display: inline-block;
}

.col-5{
    width:50%;
    display: inline-block;
}

.col-3{
    width:30%;
}

.col-4{
    width:40%;
}
.float-left{
    float:left;
}
.col-8{
    width:60%;
}
.px-2{
    padding-left:2%;
    padding-right:2%;
}

.px-1{
    padding-left:1%;
    padding-right:1%;
}

.image-upload > input
{
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-1 + label {
    color: #ffffff;
    background-color:   #000000;
}
.inputfile + label {
    min-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-align: center;
    border-radius: 4px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}