.img-list {
    display: block;
    width: 260px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: 0.3s;
    border-radius: 10px;
    /* padding: 20px; */
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .top-align{
    padding: 90px;
    margin-right: 87px;
    padding-left: 4%;
    padding-right: 7%;
  }

  .edit-icon-right {
    background-color: darkslategrey;
    border: 2px solid black;
    position: absolute;
    margin-left: 81%;
    margin-top: -70%;
    z-index: 0;
    padding: 2px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px
  }

  .edit-icon-left {
    background-color: darkslategrey;
    border: 2px solid black;
    position: absolute;
    margin-left: 4%;
    margin-top: -70%;
    z-index: 0;
    padding: 2px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px
  }

  .del-icon {
    color: white;
    /* position: absolute;
    margin-left: 85%;
    margin-top: -70%; */
}


.delBtn { 
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}