.main{
    background-color: #F5F6FC;
    padding: 53px;
    height: 100%;
    /*margin-right: -32px;*/
  }
  
  .first-column {
    width: 60%;
    float: left;
  }
  
  .second-column {
    width: 36%;
    float: right;
  }

  .third-column {
    width: 40%;
    float: left;
    margin-top: 35px;
  
  }

  .fourth-column{
    width: 56%;
    float: right;
    margin-top: 35px;
  
  }

  .fifth-column{
    width: 100%;
    padding: 0 10px 0 0;
    float: right;
    margin-top: 35px;
  
  }
  
  @media only screen and (max-width: 800px) {
  
   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
  
    .second-column {
      width: 100%;
      padding-bottom: 10px;
      float: none;
    }
    .third-column {
      width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .fourth-column{
      width: 100%;
      padding-bottom: 10px;
      float: none;
    }

  }

  

    .line-chart {
      height: 275px;
      background: #11a8ab;
      padding: 30px;
    }

    .grafico {
      padding: 0rem 1rem 1rem;
      width: 100%;
      height: 100%;
      position: relative;
      color: #fff;
      font-size: 80%;
    }

    .grafico span {
      display: block;
      position: absolute;
      bottom: 3rem;
      left: 2rem;
      height: 0;
      border-top: 2px solid;
      transform-origin: left center;
    }

    .grafico span > span {
      left: 100%; bottom: 0;
    }

    [data-valor='25'] {width: 75px; transform: rotate(-45deg);}
    [data-valor='8'] {width: 24px; transform: rotate(65deg);}
    [data-valor='13'] {width: 39px; transform: rotate(-45deg);}
    [data-valor='5'] {width: 15px; transform: rotate(50deg);}
    [data-valor='23'] {width: 69px; transform: rotate(-70deg);}
    [data-valor='12'] {width: 36px; transform: rotate(75deg);}
    [data-valor='15'] {width: 45px; transform: rotate(-45deg);}
    
    [data-valor]:before {
      content: '';
      position: absolute;
      display: block;
      right: -4px;
      bottom: -3px;
      padding: 4px;
      background: #fff;
      border-radius: 50%;
    }

    [data-valor='23']:after {
      content: '+' attr(data-valor) '%';
      position: absolute;
      right: -2.7rem;
      top: -1.7rem;
      padding: .3rem .5rem;
      background: #50597B;
      border-radius: .5rem;
      transform: rotate(45deg);  
    }

    [class^='eje-'] {
      position: absolute;
      left: 0;
      bottom: 0rem;
      width: 100%;
      padding: 1rem 1rem 0 2rem;
      height: 80%;
    }

    .eje-x {
      height: 2rem;
    }

    .eje-y li {
      height: 25%;
      border-top: 1px solid #777;
    }

    [data-ejeY]:before {
      content: attr(data-ejeY);
      display: inline-block;
      width: 2rem;
      text-align: right;
      line-height: 0;
      position: relative;
      left: -2.5rem;
      top: -.5rem;
    } 

    .eje-x li {
      width: 33%;
      float: left;
      text-align: center;
    }

    .time-lenght {
      padding-top: 22px;
      padding-left: 38px;
      overflow: hidden;
    }

      .time-lenght-btn {
        display: block;
        width: 70px;
        line-height: 32px;
        background: #50597b;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        margin-right: 5px;
        -webkit-transition: background .3s;
        transition: background .3s;
      }

        /* .time-lenght-btn:hover {
          text-decoration: none;
          background: #e64c65;
        }
        .month-data {
          padding-top: 28px;
        }
          .month-data p {
            display: inline-block;
            margin: 0;
            padding: 0 25px 15px;            
            font-size: 16px;
          }
            .month-data p:last-child {
              padding: 0 25px;
              float: right;
              font-size: 15px;
            }
            .increment {
              color: #e64c65;
            } */

            .card {
              box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
              transition: 0.3s;
            }

            .card:hover {
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              /* width:60% */
            }

            .card1{
              box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
              transition: 0.3s;
              padding: 38px;
              margin-bottom: 50px;
            }

            .card1:hover {
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              /* width:60% */
            }

            figure {
              position: relative;
              font-size:1vw;
              width: 22em;
              padding-bottom: 24em;
              margin-left: 30px;
            }

            svg {
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              overflow: visible;
            }

            circle {
              fill:rgba(0,0,0,0);
              stroke-width:31.8309886184;
              stroke-dasharray: 0,0,0,100;
              stroke-dashoffset: 25;
              -webkit-animation: pie1 3s infinite ease both;
              animation: pie1 6s infinite ease both;
            }

            .pie1 {
              stroke:hsl(180,70%,30%);
            }

            .pie2 {
              stroke:hsl(180,70%,50%);
              -webkit-animation-name: pie2;
              animation-name: pie2;
            }

            .pie3 {
              stroke:hsl(180,70%,20%);
              -webkit-animation-name: pie3;
              animation-name: pie3;
            }

            .pie4 {
              stroke:hsl(180,0%,70%);
              -webkit-animation-name: pie4;
              animation-name: pie4;
            }
            
            /*
             pie percentage made by stroke-dasharray.
             stroke-dasharray format is...
            
             keyframe 100% : 0 offset this-percentage rest
            
             I added keyframe 50% for infinite presentation.
            */
            
            /* 1st pie is 40% */
            @-webkit-keyframes pie1 {
              50%,100% {stroke-dasharray: 40,60,0,0;}
            }
            @keyframes pie1 {
              50%,100% {stroke-dasharray: 40,60,0,0;}
            }
            /* 2nd pie is 30% */
            @-webkit-keyframes pie2 {
              50%,100% {stroke-dasharray: 0,40,30,30;}
            }
            @keyframes pie2 {
              50%,100% {stroke-dasharray: 0,40,30,30;}
            }
            /* 3rd pie is 30% */
            @-webkit-keyframes pie3 {
              50%,100% {stroke-dasharray: 0,70,20,10;}
            }
            @keyframes pie3 {
              50%,100% {stroke-dasharray: 0,70,20,10;}
            }
            /* 4th pie is 10% */
            @-webkit-keyframes pie4 {
              50%,100% {stroke-dasharray: 0,90,10,0;}
            }
            @keyframes pie4 {
              50%,100% {stroke-dasharray: 0,90,10,0;}
            }
            
            .chart {
              display: table;
              table-layout: fixed;
              width: 60%;
              max-width: 700px;
              height: 200px;
              margin: 0 auto;
              background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
              background-size: 100% 50px;
              background-position: left top;
            }
            .chart li {
              position: relative;
              display: table-cell;
              vertical-align: bottom;
              height: 200px;
            }
            .chart span {
              margin: 0 1em;
              display: block;
              background: rgba(209, 236, 250, 1);
              animation: draw 1s ease-in-out;
            }
            .chart span:before {
              position: absolute;
              left: 0;
              right: 0;
              top: 100%;
              padding: 5px 1em 0;
              display: block;
              text-align: center;
              content: attr(title);
              word-wrap: break-word;
            }
            
            @keyframes draw {
              0% {
                height: 0;
              }
            }
            .barchart{
              /* position: absolute;
               top: 121%;
               width: 100%; */
                margin: 4px;
  
            }
            .card2 {
              box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
              transition: 0.3s;
            }
            .card1:hover {
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              /* width:60% */
            }
  
  