@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding:0;
}
.sidebar {
  position: fixed;
  left: -250px;
  /*width: 250px;*/
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  border: 2px white solid;
  width:20%;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #747a7e;
  user-select: none;
  /* border: 2px white solid; */
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
.sidebar ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 20%;
}
section{
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
  width:89.5%;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
  border: 2px white solid;
  position: fixed;
  width: 80%;
  z-index: 1;
}

.nav li {
  display: inline;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li i {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 88px;
  height: 32px;
  line-height: 25px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 115%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.tooltip .tooltiptext1 {
  visibility: hidden;
  width: 175px;
  height: 100px;
  line-height: 26px;
  background-color: darkslategrey;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 0;
  padding-left: 6px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 30%;
}


.tooltip .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-top: -4px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent darkslategrey transparent transparent;
}

.tooltip:hover .tooltiptext1 {
  visibility: visible;
}


.topmargin-seven{
  margin-top:7% !important;
}

.add-item{
  float: left;
  padding: 7px;
  font-size: 28px;
}

.log-out {
  float: right;
  padding: 7px;
  font-size: 28px;
}