.switch {
    position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-left: 70px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .container {
    padding: 10px;
    margin-left: 20%;
    margin-right: 30%;
  }
  
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  table { 
      border-collapse: collapse; 
  }
  td
  {
     position: relative;
      text-align: right;
      padding: 20px;
      padding-right: 100px;
  }
  .b-line {
   border-bottom: 1pt solid gray;
  }
  
  .blend {
      border-radius: 10px;
  }
  .textStyle
  {
      color:grey;
      padding-top: 15px;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: grey;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    margin-right: -330px;
  }
  
  .button:hover {background-color: #063146}
  
  .button:active {
    background-color: #063146;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    margin-top: 13%;
  }

  .alert.warning {background-color: rgb(240, 205, 69);}